* {
    padding:0;
    border:0;
    margin:0;
}
.container {
    min-width: 350px;
    min-height: 400px;
    width: 100vw;
    height: 100vh;
}
.field {
    width: 100%;
    height: 100%;
    background-color: #212121;
    background-image: url('../img/fon.jpg');
    background-size: contain;
    background-blend-mode: normal;
}

.field.darken {
    background-blend-mode: darken;
}
.field.hardLight {
    background-blend-mode: hard-light;
}
.field.colorBurn {
    background-blend-mode: color-burn;
}

.player {
    display: block;
    position: fixed;
    left: 47vw;
    top: 80vh;
    width: 5vw;
    height: 6.7vw;
    background-repeat: no-repeat;
    background-image: url('../img/ship.png');
    background-size: contain;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:9;
    left: 3px;
    top: 3px;
    width: 5vw;
    height: 3vw;
    background-color: black;
    border-radius: 10px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 2px solid white;
    font-style: tahoma;
    color:yellowgreen;
    font-size: 16px;
    font-weight: 800;
    text-shadow: 2px 2px 2px gray;
}
.messageBox {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 20vw;
    left: 25vw;
    top: 10vw;
    background-color: #212121;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #ffffff33;
    justify-content: center;
    align-items: center;
    color: grey;
    text-shadow: 1px 1px 1px #ffffff33;
    font-family: Tahoma;
}
.newGameBtn{
    width: 5vw;
    min-width: 100px;
    background-color: #211221;
    color: lightskyblue;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 3px 3px 10px #ffffff33;
    text-align: center;
    padding: 5px;
    margin-top: 12px;
    cursor: pointer;
}
.newGameBtn:hover {
    box-shadow: none;
}
.hide {
    display:none;
}
.shoot {
    z-index: 3;
    display: block;
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: wheat;
}
.shoot.shoot1 {
    background-color: lightskyblue;
    width: 2px;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
.shoot.shoot2 {
    border-radius: 50%;
    border: 2px solid black;
    background-color: lightskyblue;
}
.enemy {
    z-index: 2;
    display: block;
    position: fixed;
    width: 6vw;
    height: 5vw;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.enemy1 {
    background-image: url('../img/asteroid.png');
    background-size: 56vw 56vw;
    width: 6vw;
    height: 6vw;
}

.enemy2 {
    background-image: url('../img/enemy02.png');
}
.enemy3 {
    background-image: url('../img/enemy03.png');
}
.enemy4 {
    background-image: url('../img/enemy04.png');
}
.enemy5 {
    background-image: url('../img/enemy05.png');
}
.enemy6 {
    background-image: url('../img/enemy06.png');
}
.enemy7 {
    background-image: url('../img/enemy07.png');
}
.enemy8 {
    background-image: url('../img/enemy08.png');
}
.enemy9 {
    background-image: url('../img/enemy09.png');
}
